In [1]:
import pandas as pd
import numpy as np
fifa_data = pd.read_csv('/Users/joluhergo/Desktop/Ironhack/Fifa_project/fifa21_train.csv')

In [2]:
print(fifa_data.shape)
fifa_data.head(3)

(11701, 101)

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80

In [3]:
fifa_data.columns

Index(['ID', 'Name', 'Age', 'Nationality', 'Club', 'BP', 'Position',
       'Team & Contract', 'Height', 'Weight',
       ...
       'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB', 'GK', 'OVA'],
      dtype='object', length=101)

In [4]:
fifa_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11701 entries, 0 to 11700
Columns: 101 entries, ID to OVA
dtypes: float64(10), int64(43), object(48)
memory usage: 39.7 MB

In [5]:
fifa_data._get_numeric_data().columns

Index(['ID', 'Age', 'Growth', 'Attacking', 'Crossing', 'Finishing',
       'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling',
       'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision',
       'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',
       'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling',
       'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats',
       'Base Stats', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'OVA'],
      dtype='object')

In [6]:
categorical =fifa_data.select_dtypes('object')
numerical = fifa_data.select_dtypes('number')

In [7]:
categorical.isna().sum()

Name                   0
Nationality            0
Club                  18
BP                     0
Position             288
Team & Contract        0
Height                 0
Weight                 0
foot                   0
Joined                41
Loan Date End      11072
Value                  0
Wage                   0
Release Clause         0
Contract               0
W/F                    0
SM                     0
A/W                   59
D/W                   59
IR                     0
Hits                   0
LS                     0
ST                     0
RS                     0
LW                     0
LF                     0
CF                     0
RF                     0
RW                     0
LAM                    0
CAM                    0
RAM                    0
LM                     0
LCM                    0
CM                     0
RCM                    0
RM                     0
LWB                    0
LDM                    0
CDM                    0
RDM                    0
RWB                    0
LB                     0
LCB                    0
CB                     0
RCB                    0
RB                     0
GK                     0
dtype: int64

In [8]:
fifa_data.isna().sum()

ID              0
Name            0
Age             0
Nationality     0
Club           18
               ..
CB              0
RCB             0
RB              0
GK              0
OVA             0
Length: 101, dtype: int64

In [9]:
fifa_data.isna()

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11697,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11698,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11699,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

fifa_data_filled = fifa_data.fillna(method='backfill')

In [11]:
def clean_club(columns):
    columns.fillna("Free agent")
    return

In [12]:
#categorical["Club"] = categorical["Club"].apply(clean_club)
#categorical['Club'].isna().sum()

In [13]:
categorical["Club"] = categorical["Club"].fillna("Free Agent")

<ipython-input-13-1b24aa6d8bd2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical["Club"] = categorical["Club"].fillna("Free Agent")

In [14]:
#categorical["Club"] = categorical["Club"].apply(clean_club)

In [15]:
categorical["Position"].unique

<bound method Series.unique of 0           CM CDM
1         ST LW LM
2           CAM CF
3           CDM CM
4           CDM CM
           ...
11696           LB
11697           GK
11698    LM CAM RM
11699          NaN
11700    ST CAM LM
Name: Position, Length: 11701, dtype: object>

In [16]:
categorical.isna().sum()

Name                   0
Nationality            0
Club                   0
BP                     0
Position             288
Team & Contract        0
Height                 0
Weight                 0
foot                   0
Joined                41
Loan Date End      11072
Value                  0
Wage                   0
Release Clause         0
Contract               0
W/F                    0
SM                     0
A/W                   59
D/W                   59
IR                     0
Hits                   0
LS                     0
ST                     0
RS                     0
LW                     0
LF                     0
CF                     0
RF                     0
RW                     0
LAM                    0
CAM                    0
RAM                    0
LM                     0
LCM                    0
CM                     0
RCM                    0
RM                     0
LWB                    0
LDM                    0
CDM                    0
RDM                    0
RWB                    0
LB                     0
LCB                    0
CB                     0
RCB                    0
RB                     0
GK                     0
dtype: int64

In [17]:
categorical.isna().sum()

Name                   0
Nationality            0
Club                   0
BP                     0
Position             288
Team & Contract        0
Height                 0
Weight                 0
foot                   0
Joined                41
Loan Date End      11072
Value                  0
Wage                   0
Release Clause         0
Contract               0
W/F                    0
SM                     0
A/W                   59
D/W                   59
IR                     0
Hits                   0
LS                     0
ST                     0
RS                     0
LW                     0
LF                     0
CF                     0
RF                     0
RW                     0
LAM                    0
CAM                    0
RAM                    0
LM                     0
LCM                    0
CM                     0
RCM                    0
RM                     0
LWB                    0
LDM                    0
CDM                    0
RDM                    0
RWB                    0
LB                     0
LCB                    0
CB                     0
RCB                    0
RB                     0
GK                     0
dtype: int64

In [18]:
categorical["Joined"]

0         Jul 1, 2015
1        Jan 16, 2015
2        Jan 31, 2019
3         Jul 1, 2016
4         Jul 1, 2018
             ...
11696     Feb 8, 2018
11697     Jul 1, 2019
11698    Jan 23, 2019
11699             NaN
11700    Jul 22, 2019
Name: Joined, Length: 11701, dtype: object

In [19]:
import datetime
first_day = datetime.date(2020, 9, 1)
first_day.strftime('%b %d, %Y')

'Sep 01, 2020'

In [20]:
categorical["Joined"] =categorical["Joined"].fillna(first_day.strftime('%b %d, %Y'))

<ipython-input-20-9883d063ccf3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical["Joined"] =categorical["Joined"].fillna(first_day.strftime('%b %d, %Y'))

In [21]:
categorical["Joined"].isna().sum()

0

Replacing the NaN in the Loan Date End with the last day of June next year
Loans for players expire at  the end of the season. Soccer seasons usually end by June

In [22]:
categorical["Loan Date End"]

0                 NaN
1        Dec 31, 2020
2                 NaN
3                 NaN
4                 NaN
             ...
11696             NaN
11697             NaN
11698             NaN
11699             NaN
11700             NaN
Name: Loan Date End, Length: 11701, dtype: object

loan_date_end = datetime.date(2021, 6, 1)
first_day.strftime('%b %d, %Y')
res = calendar.monthrange(test_date.year,test_date.month)[1]

In [23]:
loan_date_end = datetime.date(2021, 6, 1)
loan_date_end.strftime('%b %d, %Y')

'Jun 01, 2021'

In [24]:
categorical["Joined"] =categorical["Joined"].fillna(first_day.strftime('%b %d, %Y'))

<ipython-input-24-9883d063ccf3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical["Joined"] =categorical["Joined"].fillna(first_day.strftime('%b %d, %Y'))

In [25]:
print(categorical.columns)

Index(['Name', 'Nationality', 'Club', 'BP', 'Position', 'Team & Contract',
       'Height', 'Weight', 'foot', 'Joined', 'Loan Date End', 'Value', 'Wage',
       'Release Clause', 'Contract', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'Hits',
       'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM',
       'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB',
       'LCB', 'CB', 'RCB', 'RB', 'GK'],
      dtype='object')

In [26]:
categorical = categorical.drop(["Loan Date End"], axis=1)

In [27]:
categorical["LS"]

0        58+1
1        77+0
2        73+2
3        50+2
4        56+2
         ...
11696    48+2
11697    28+2
11698    62+2
11699    68+0
11700    64+2
Name: LS, Length: 11701, dtype: object

https://www.pythonforbeginners.com/exceptions/valueerror-invalid-literal-for-int-with-base-10

In [28]:
def x(string):
    a = int(string.split("+")[0])
    b = int(string.split("+")[1])
    return a + b

In [29]:
cat = categorical[["LS",'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM','RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB','RCB', 'RB', 'GK']]
for column in cat:
    cat[column] = cat[column].apply(x)
display(cat)

<ipython-input-29-7bec21ec193a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cat[column] = cat[column].apply(x)

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
0,59,59,59,61,62,62,62,61,64,64,...,60,60,60,60,59,55,55,55,59,16
1,77,77,77,77,77,77,77,77,77,77,...,55,55,55,59,55,50,50,50,55,20
2,75,75,75,80,79,79,79,80,80,80,...,58,58,58,61,55,43,43,43,55,14
3,52,52,52,51,51,51,51,51,55,55,...,60,60,60,58,59,60,60,60,59,16
4,58,58,58,59,59,59,59,59,63,63,...,66,66,66,66,65,63,63,63,65,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,50,50,50,55,52,52,52,55,56,56,...,62,62,62,65,65,63,63,63,65,18
11697,30,30,30,24,26,26,26,24,26,26,...,28,28,28,27,26,28,28,28,26,71
11698,64,64,64,67,65,65,65,67,67,67,...,46,46,46,51,47,37,37,37,47,19
11699,68,68,68,71,68,68,68,71,72,72,...,68,68,68,66,64,60,60,60,64,25
11700,66,66,66,65,65,65,65,65,67,67,...,45,45,45,48,46,38,38,38,46,17

In [30]:
# categorical["LS"] = categorical["LS"].apply(x)

for column in cat:
    cat[column] = cat[column].apply(x)
display(cat)

In [31]:
categorical[categorical["Position"].isna()]

,Name,Nationality,Club,BP,Position,Team & Contract,Height,Weight,foot,Joined,...,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK
17,M. Oddo B,Italy,Lecce,CM,NaN,Lecce 2009 ~ 2012,"6'0""",168lbs,Right,"Jan 1, 2009",...,71+0,71+0,71+0,72+-1,70+1,70+1,70+1,70+1,70+1,14+1
59,P. Netzer,Austria,SCR Altach,CB,NaN,SCR Altach 2004 ~ 2021,"6'2""",176lbs,Left,"Jul 1, 2004",...,63+2,63+2,63+2,58+2,59+2,65+0,65+0,65+0,59+2,15+2
132,A. Jaakkola,Finland,Bristol Rovers,GK,NaN,Bristol Rovers 2019 ~ 2022,"6'4""",194lbs,Right,"Jul 1, 2019",...,30+2,30+2,30+2,27+2,27+2,28+2,28+2,28+2,27+2,66+1
157,B. Clarke,Republic of Ireland,Bradford City,ST,NaN,Bradford City 2020 ~ 2021,"5'7""",141lbs,Left,"Jul 17, 2020",...,47+2,47+2,47+2,49+2,47+2,48+2,48+2,48+2,47+2,16+2
214,Mora,Spain,Getafe CF,CM,NaN,Getafe CF 2017 ~ 2021,"6'0""",161lbs,Right,"Jan 1, 2017",...,69+1,69+1,69+1,62+1,60+1,62+1,62+1,62+1,60+1,17+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11350,F. Eastwood,Wales,Southend United,ST,NaN,Southend United 2012 ~ 2014,"5'11""",172lbs,Right,"Jul 1, 2012",...,46+0,46+0,46+0,47+0,42+0,40+0,40+0,40+0,42+0,16+0
11580,NenÃª,Brazil,West Ham United,LW,NaN,West Ham United 2015 ~ 2015,"5'11""",154lbs,Left,"Feb 26, 2015",...,59+0,59+0,59+0,55+0,50+0,46+0,46+0,46+0,50+0,13+0
11650,J. Koller,Czech Republic,Free Agent,ST,NaN,Czech Republic Free,"6'8""",234lbs,Right,"Sep 01, 2020",...,70+0,70+0,70+0,56+0,62+0,58+0,58+0,58+0,62+0,46+0
11670,T. Berni,Italy,Inter,GK,NaN,Inter 2017 ~ 2020,"6'1""",176lbs,Right,"Jul 5, 2017",...,22+2,22+2,22+2,20+2,19+2,19+2,19+2,19+2,19+2,63+1
11699,Anderson Silva,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,Right,"Sep 01, 2020",...,68+0,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0

In [32]:
cat.max(axis=1)

0        64
1        77
2        80
3        60
4        66
         ..
11696    65
11697    71
11698    68
11699    72
11700    67
Length: 11701, dtype: int64

In [33]:
list_cat_max = cat.max(axis=1)

In [34]:
index_na_positions =list(categorical[categorical["Position"].isna()].index.values)

In [35]:
#for i in range(len(categorical)):
    #if categorical.iloc[i]["Position"].isna() == True:
        #cat["Position"][i] = cat.max(axis=1)[i]

In [36]:
categorical["Position"].dropna(axis=0)

0           CM CDM
1         ST LW LM
2           CAM CF
3           CDM CM
4           CDM CM
           ...
11695           ST
11696           LB
11697           GK
11698    LM CAM RM
11700    ST CAM LM
Name: Position, Length: 11413, dtype: object

In [39]:
numerical = fifa_data.select_dtypes('number')

In [41]:
numerical.shape

(11701, 53)

In [43]:
numerical.isna().sum()

ID                    0
Age                   0
Growth                0
Attacking             0
Crossing              0
Finishing             0
Heading Accuracy      0
Short Passing         0
Volleys              41
Skill                 0
Dribbling             0
Curve                41
FK Accuracy           0
Long Passing          0
Ball Control          0
Movement              0
Acceleration          0
Sprint Speed          0
Agility              41
Reactions             0
Balance              41
Power                 0
Shot Power            0
Jumping              41
Stamina               0
Strength              0
Long Shots            0
Mentality             0
Aggression            0
Interceptions         7
Positioning           7
Vision               41
Penalties             0
Composure           279
Defending             0
Marking               0
Standing Tackle       0
Sliding Tackle       41
Goalkeeping           0
GK Diving             0
GK Handling           0
GK Kicking            0
GK Positioning        0
GK Reflexes           0
Total Stats           0
Base Stats            0
PAC                   0
SHO                   0
PAS                   0
DRI                   0
DEF                   0
PHY                   0
OVA                   0
dtype: int64

In [46]:
volleys = numerical[numerical["Volleys"].isna()==True]

In [48]:
numerical[numerical["Volleys"].isna()==True]
numerical = numerical[numerical["Volleys"].isna()==False]

In [1]:
mean_volleys = numerical['Volleys'].mean()
numerical['Volleys'] = numerical['Volleys'].fillna(mean_volleys)
numerical['Volleys']

NameError: name 'numerical' is not defined

In [ ]:
mean_composure = fifa_num['composure'].mean()
fifa_num['composure'] = fifa_num['composure'].fillna(mean_composure)
fifa_num['composure']